<% content_for :title, "Editing company verification" %>

<h1>Editing company verification</h1>

<%= render "form", company_verification: @company_verification %>

<br>

<div>
  <%= link_to "Show this company verification", @company_verification %> |
  <%= link_to "Back to company verifications", company_verifications_path %>
</div>
