<p style="color: green"><%= notice %></p>

<% content_for :title, "Company verifications" %>

<h1>Company verifications</h1>

<div id="company_verifications">
  <% @company_verifications.each do |company_verification| %>
    <%= render company_verification %>
    <p>
      <%= link_to "Show this company verification", company_verification %>
    </p>
  <% end %>
</div>

<%= link_to "New company verification", new_company_verification_path %>
